{% extends "base.html" %}
{% load static %}

{% block title %}Редактировать объявление{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card shadow-sm p-4 mt-5 mb-5 w-100" style="max-width: 600px;">
        <h2 class="text-center mb-3">Редактировать объявление</h2>
        <hr class="mx-auto mb-4" style="width: 60px; border-top: 3px solid #0d6efd;">

        {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {% if post.image %}
                <div>
                    <label>Текущая обложка:</label><br>
                    <img src="{{ post.image.url }}" class="mb-3" alt="Обложка" style="max-width: 300px;">
                </div>
            {% endif %}
            <button type="submit" class="btn btn-success">Сохранить изменения</button>
        </form>

    </div>
</div>

<script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock %}
