{% extends "base.html" %}
{% load form_tags %}
{% block title %}Вход{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="card shadow-sm p-4 mt-5 mb-5 w-100" style="max-width: 480px;">
        <h2 class="mb-4 text-center">Вход</h2>

        <form method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger d-flex align-items-center" style="min-height: 60px;">
                    <div class="w-100 text-center">
                        {{ form.non_field_errors.0 }}
                    </div>
                </div>
            {% endif %}


            {% for field in form %}
                <div class="mb-3">
                    <label class="form-label">{{ field.label }}</label>
                    {{ field|add_class:"form-control" }}
                    {% if field.errors %}
                        <div class="form-text text-danger">{{ field.errors|striptags }}</div>
                    {% endif %}
                </div>
            {% endfor %}

            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Войти</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
